<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <title>Error Paget</title>
    <style>
        body{
            font-family: 'Shadows Into Light', cursive;
            color: red;
            background-color: white;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <center><h1>Invalid Entry ! <(*_*)> </h1></center>
</body>
</html>
